<nav class="bg-gray-800 p-4">
  <div class="container mx-auto px-4">
    <div class="flex justify-between items-center">
      <h1 class="text-white font-bold">Employee Management System</h1>
      <ul class="flex">
        <li class="ml-6">
          <a href="#" class="text-white hover:text-gray-400">Dashboard</a>
        </li>
        <li class="ml-6">
          <a href="#" class="text-white hover:text-gray-400">Employees</a>
        </li>
        <li class="ml-6">
          <a href="#" class="text-white hover:text-gray-400">Settings</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container w-full">
  <app-add-form></app-add-form>
</div>
<div class="bg-orange-300" id="tree"></div>
